# Dependencies
node_modules
.pnpm-store

# Build
dist

# Environment
.env

# Media
media/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docker Compose
docker-compose.yml 